/Aula01/nbproject/private/
/Aula01/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/TestUnit/nbproject/private/
/TestUnit/build/
/IncompatibilidadeTipos/nbproject/private/
/IncompatibilidadeTipos/build/
/LearningJava/nbproject/private/
/LearningJava/build/
/EntradaSaida/nbproject/private/
/EntradaSaida/build/
/IncompatibilidadeTipos/target/
/TST/nbproject/private/
/AE1Calculadora/nbproject/private/
